# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Environment variables files
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
